.pointer{
    cursor:pointer;
}

.dataTables_filter{
    text-align: left !important;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination{
    justify-content: flex-start !important;
}

.logo-profile{
    max-width: 100px;
}

.cell_table {
    max-width: 250px !important;
}

.width-content-options{
    width: 100%;
}

.content-options{
    display: block;
    width: 100%;
}

.tyc{
    border: 1px solid rgb(194, 191, 191);
    width: 100%;
    height: 400px;
    overflow: auto;
}

#dt-acctions .nk-tb-col, .row_reduce .nk-tb-col{
    padding: 0.5rem 0.5rem;
}

#dt-acctions .nk-tb-item:not(:last-child) .nk-tb-col, .row_reduce .nk-tb-item:not(:last-child) .nk-tb-col{
    border-bottom: 1px solid #b4b7c0;
}

.preview-hr{
    opacity: 0.6;
}




@media (min-width: 576px) {
    .content-options{
        display: flex;
        width: 100%;
        justify-content: center;
    }
}

.color-highlight {
    color: #6576ff !important;
  }

  h1.color-primary {
    color: #5e4c98 !important;
  }

.btn-highlight {
    color: #ffffff;
    background-color: #6576ff !important;
    border-color: #6576ff !important;
}

.btn-highlight-two {
  color: #ffffff;
  background-color: #a1d7f8 !important;
  border-color: #a1d7f8 !important;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 992px) { 
    .content-options{
        display: block;
        width: 100%;
    }
 }

 .full-height {
    height: 100vh !important;
  }
  

  #content-header-steps{
    margin-left: 22px;
  }
  
  #content-progress-steps{
    margin-left: 10px;
  }

  .btn-trigger{
    padding: 3px 0px !important;
  }

  .nk-header-search{
    display: flex;
    width: 100%;
    align-items: center;
 }
  
 #icon-search{
  color: #6576ff;
  font-size: 16px;
 }

 ul.ul-primary {
  list-style-type: none; /* Remove default bullets */
  padding-left: 15px; /* Adjust text indentation */
}

ul.ul-primary li::before {
  content: "• "; /* First dot */
  font-weight: bold;
  color: #333;
}

ul.ul-primary li::after {
  content: " •"; /* Second dot, with a space before */
  font-weight: normal;
  color: #ccc;
}

ul.ul-primary li::after {
  display: none; /* Hide the second dot */
}

/* estilos resumen wallet */
.nk-iv-wg2-amount.ui-v2 {
  font-size: 1.875rem;
  border-bottom: 2px solid #6576ff;
  padding-bottom: 1.25rem;
  margin-bottom: 1rem;
  display: block;
}

.nk-iv-wg2-list li {
  padding-top: .3rem;
  padding-bottom: .3rem
}

.nk-iv-wg2-list .small,.nk-iv-wg2-list small {
  font-size: .86em
}

.nk-iv-wg2-list .item-value {
  font-weight: 500;
  font-size: .8125rem;
  color: #364a63;
  float: right
}

.nk-iv-wg2-list .total {
  border-top: 1px solid #dbdfea;
  margin-top: .3rem;
  padding-top: .55rem;
  font-weight: 700
}

.nk-iv-wg2-amount {
  font-size: 2.25rem;
  letter-spacing: -.03em;
  line-height: 1.15em;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.nk-wg-card:after {
  content: "";
  position: absolute;
  height: .25rem;
  background-color: transparent;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 0 0 3px 3px
}

.nk-wg-card.is-s1:after {
  background-color: #364a63
}

.nk-wg-card.is-s2:after {
  background-color: #6576ff
}

.nk-wg-card.is-s3:after {
  background-color: #1ee0ac
}

.nk-iv-wg2-text:not(:last-child) {
  margin-bottom: 2.5rem
}

.nk-wg-card.is-s3:after {
  background-color: #1ee0ac;
}

.nk-wg-card.is-s1:after {
  background-color: #364a63;
}

/* /estilos resumen wallet */

.kc .btn
{
  font-size: 1.2rem !important;
  font-weight: 900 !important;
} 

.kc .text-small{
  font-size: 0.8rem !important;
}

.color-primary{
  color: #5e4c98 !important;
}

ul.ul-primary li::before {
  content: "• "; /* First dot */
  font-weight: bold;
  color: #8091a7 !important;
}

.span-h5{
  font-size: 1.4rem !important;
}

#img-cell{
  width: 50%;
}

.min-vh-82{
  min-height: 82vh !important;
}




 /* Estilos para pantallas móviles */
@media (max-width: 767px) {
  .text-elije {
    font-size: 12px;
  }
  #content-progress-steps{
    margin-left: 0px;
  }
  .kc .btn
  {
    font-size: 1.2rem !important;
   
  } 

  #img-cell{
    width: 50%;
  }



}

@media (max-width: 767px) {
    /* Estilos para versión móvil */
    .full-height {
      height: 0 !important;
    }

    .nk-header-wrap > * {
      padding: 0 0.1rem !important;
    }

    .logo-dark, .logo-light{
      width: 70%;
    }
  }
