.pointer {
  cursor: pointer;
}

.dataTables_filter {
  text-align: left !important;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  justify-content: flex-start !important;
}

.logo-profile {
  max-width: 100px;
}
