.pointer {
  cursor: pointer;
}

.dataTables_filter {
  text-align: left !important;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  justify-content: flex-start !important;
}

.logo-profile {
  max-width: 100px;
}

.cell_table {
  max-width: 250px !important;
}

.width-content-options {
  width: 100%;
}

.content-options {
  display: block;
  width: 100%;
}

.tyc {
  border: 1px solid rgb(194, 191, 191);
  width: 100%;
  height: 400px;
  overflow: auto;
}

#dt-acctions .nk-tb-col, .row_reduce .nk-tb-col {
  padding: 0.5rem 0.5rem;
}

#dt-acctions .nk-tb-item:not(:last-child) .nk-tb-col, .row_reduce .nk-tb-item:not(:last-child) .nk-tb-col {
  border-bottom: 1px solid #b4b7c0;
}

.preview-hr {
  opacity: 0.6;
}

@media (min-width: 576px) {
  .content-options {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
@media (min-width: 992px) {
  .content-options {
    display: block;
    width: 100%;
  }
}
