/* animate apple commercial */
@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  color: #fff;
  height: 90vmin;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  width: 70vmin;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  padding: 2vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid #fff;
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: #fff;
}
.animated-title > div.text-bottom {
  bottom: 0;
}

.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}


.animated-title > div.text-bottom-end {
  bottom: -10%;
}

.animated-title > div.text-bottom-end div {
  animation: showBottomText 0.5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

/* mediaquery */
@media (max-width: 576px) {
    .animated-title {
        width: 100%;
        top: 10%;
        transform: translate(0%, -10%);
    }

    .animated-title  .h4 {
        font-size: 14px !important;
    }

    #hero-img{
        margin-top: 45%;
    }
}
/* mediaquery */
/* animate apple commercial */
